body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img-bg {
    width: 100%;
    height: 100vh;
}

.welcome {
    padding: 0;
    margin: 100px;
}

.sign-in, .white-bg {
    padding: 0;
    margin: 0;
    display: block;
    padding-top: 400px;
    width: 500px;
    height: 200px;
}

.white-bg {
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
}

.button-1 {
    display: block;
}